<head>
  <title>Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 </head>
 <body class="background">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark container-12">
     <%= image_tag 'logo.jpg', alt: 'logo', width: "65", height: "45" %>
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"<%= link_to "Home", homes_path %>></a>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Add", new_book_path %> ></a>
          </li>
        <% end %>  
      
        <li class="nav-item">
          <a class="nav-link" <%= link_to "Signout", destroy_user_session_path, :method => :delete, :class => 'navbar-link'  %>></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to "Back", homes_path %>></a>
        </li>
      </ul>
    </div>
    <div class="name"> 
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
    </div>
    <% if current_user.admin? %>
      <span class="name"> <%= current_user.name.camelize %> </span>
      <span class="name">(Admin)</(span>)
    <% end %>  

    <% if current_user.student? %>
      <span class="name"> <%= current_user.name.camelize %> </span>
      <span class="name">(Student)</span>
    <% end %>    
  </nav>
  <div class="book">
    <caption>Books Details</caption>
    <table border="3px" cellpadding="3px" cellspacing="3px">
      <tr>
        <th>Book Name</th>
        <th>Book Author</th>
        <th>Book Quantity</th>
      </tr>
      <% if current_user.admin? %>
        <% @books.each do |book| %>
          <tr>
            <td><abbr title="click for edit and delete the book"> <%= link_to book.name, book %> </abbr></td>
            <td> <%= link_to book.book_author, book %> </td>
            <td> <%= link_to book.qty, book %> </td>
          </tr>
        <% end %>
      <% end %>
      <% if current_user.student? %>
        <% @books.each do |book| %>
          <tr>
            <td> <%= book.name %> </abbr></td>
            <td> <%= book.book_author %> </td>
            <td> <%= book.qty%> </td>
          </tr>
        <% end %> 
      <% end %>   
    </table>
  </div>
</body>
